<%- include("layout/header") %>

    <div class="container">
        <div class="row">
            <h1>Products List</h1>
            <div class="table-responsive">
                <% if (products !='' ) { %>
                    <table class="table table-striped text-center mt-3 mb-3">
                        <thead>
                            <tr class="table-dark">
                                <th>INDEX</th>
                                <th>PRODUCT ID</th>
                                <th>PRODUCT NAME</th>
                                <th>CATEGORY ID</th>
                                <th>CATEGORY NAME</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((row, index) => { %>
                                <tr class="align-middle">
                                    <td>
                                        <%= index %>
                                    </td>
                                    <td>
                                        <%= row._id %>
                                    </td>
                                    <td>
                                        <%= row.productName %>
                                    </td>
                                    <td>
                                        <%= row.category._id %> 
                                    </td> 
                                    <td>
                                        <%= row.category.categoryName %> 
                                    </td> 
                                    <td>
                                        <a href="/products/<%= row._id %>/edit" class="btn btn-success">Edit</a>
                                        <a href="/products/<%= row._id %>/delete" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h1 class="text-center text-secondary mt-5">No Products Found!</h1>
                        <% } %>
            </div>
        </div>
    </div>

    <%- include("layout/footer") %>